:root {
    --background: #141519;
    --sidebar: #191a1f;
    --textColor: #fff;
    --textColorDesc: gray;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(to right, #131314 0%, #1f212b 100%);
    color: var(--textColor);
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    outline: 1px solid slategray;
}

* {
    box-sizing: border-box;
}

.desc {
    color: var(--textColorDesc);
}

main {
    display: flex;
    min-height: 100vh;
}

.Content {
    width: 100%;
    padding: 3em;
    z-index: 5;
}

.Sidebar {
    width: 280px;
    max-width: 25%;
    flex-basis: 280px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    z-index: 1;
}

@media screen and (max-width: 960px) {
    .Sidebar {
        min-width: 100%;
        display: block;
    }
    main {
        flex-direction: column;
    }
}

tr,
td,
table {
    border: 1px solid;
}
